[Unit]
Description=theexonet Status Dashboard
After=network.target rava-api.service

[Service]
WorkingDirectory=/var/www/publish
ExecStart=/usr/bin/dotnet /var/www/publish/Rava.Status.dll
Restart=always
Environment=ASPNETCORE_URLS=http://0.0.0.0:6000
Environment=DOTNET_ENVIRONMENT=Production
Environment=RAVA_DATA_DIR=/var/www/data
User=www-data

[Install]
WantedBy=multi-user.target
